:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --btn-bgc: #f5f4fa;
  --primary-pt: 94px;
  --hover-anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 /* *{
  outline: 1px solid red;
} */

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);  
  font-size: 14px;  
  letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.link{
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }
   
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  }

  .section__title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  }

.title--hidden {position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;}

/* header */
.header {
  border-bottom: 1px solid #ECECEC;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  align-items:baseline
}

.header__container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  }

.logo--accent {
  color: var(--accent-color);
}
.header__logo {
  padding: 24px 0;
}

/* site-nav */
.list__nav{
  list-style: none;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;  
  margin-left: 93px;
  }

.nav__list :not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  color: var(--title-text-color);
  padding: 32px 0;
  transition: color var(--hover-anime);
  }

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);  
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__item {
  position: relative;
}
.nav__link--current::after {
content: '';
display: block;
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);
}


/* contacts */
.contact__list{
  margin-left: auto;
  display: flex;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
 }

.contact__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  padding: 32px 0;
  transition: color var(--hover-anime);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
  }

 .contact__link :last-child {
    margin-left: 50px;
  }

  .contact__link--email-icon,
  .contact__link--tel-icon {
    margin-right: 10px;
    fill: currentColor;
 }
    
/* main */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-img.jpg);
  background-color: #C4C4C4; 
  background-size: cover;
  height: 600px;
  max-width: 1600px;  
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px; 
  }

.hero__title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  
}

/* buttons */
.btn {
  border-style: none;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  cursor: pointer;
  font-family: inherit;
  }

.btn--main {
  width: 216px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  transition: background-color var(--hover-anime);
  }

.btn--main:hover,
.btn--main:focus {
  background-color: #188CE8;  
}

.btn--secondary {
  color: var(--title-text-color);
  background-color: var(--btn-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color var(--hover-anime), background-color var(--hover-anime), box-shadow var(--hover-anime);
}

.btn--secondary:hover,
.btn--secondary:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* benefits */
.benefits {
  padding-top: var(--primary-pt);
}

.benefits__title{
  color: var(--title-text-color);
  margin-bottom: 10px;
   color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}


.benefits__list {
  display: flex;  
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits__description {  
  line-height: 1.71;
  width: 270px;
}


/* activity */

.activity {padding-top: var(--primary-pt);
 padding-bottom: var(--primary-pt);}

.activity__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activity__item {
  position: relative;
}
.activity__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__descr {    
  color: var(--white-text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;

}

/* teem */
.teem {padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
  background-color: var(--btn-bgc);
}
.teem__list {
    display: flex;
    margin-top: 50px;
    text-align: center;
    flex-wrap: wrap;
    gap: 0 30px;
}

.teem__card {
    background-color: #fff;
    flex-basis: calc(100% - 30px * 3) / 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teem__descr {
  padding: 30px 10px;
}
.teem__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19; 
  color: var(--title-text-color);
}

.teem__profession {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 16px;
}

.teem__social-list {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  }

.teem__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color var(--hover-anime);
  }

  .teem__social-link:hover,
  .teem__social-link:focus {
    background-color: var(--accent-color)
  }

  .teem__social-icon {
    fill: #AFB1B8;
    transition: fill var(--hover-anime)
  }

  .teem__social-item:hover .teem__social-icon,
  .teem__social-item:focus .teem__social-icon {
    fill: var(--white-text-color);
  }

/* Clients */
.clients {
  width: 1200px;
  padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
  margin-left: auto;
  margin-right: auto;
}

.clients .section__title {
  padding-bottom: 50px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:0 30px;
  }

  .client__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: border var(--hover-anime);
  }
  
  .client__link:hover,
  .client__link:focus {
    border: 1px solid var(--accent-color);
  }

  .client__icon {
    fill: #AFB1B8;
    transition: fill var(--hover-anime);
    
  }

  .client__link:hover .client__icon,
  .client__link:focus .client__icon {
    fill: var(--accent-color);
  }

/* footer */

.page-footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .logo {
  color: var(--white-text-color);
  margin-bottom: 20px;
}
  
.address-item {
  margin-bottom: 10px;
}

.address-item:last-child {
  margin-bottom: 0;
}
  
.page-footer .list {
  font-style: normal;
  list-style: none;
}

.post-address {
  color: var(--white-text-color);
  text-decoration: none;
  transition: var(--hover-anime);
}
.post-address:hover,
.post-address:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--hover-anime)
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.address-list {
  width: 231px;
  margin-right: 70px;
}

.call {
  text-transform: uppercase;
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  }

  .footer-social {
    margin-top: 20px;
    margin-right: 94px;
  }

  .footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
    }

  .footer-social-icon {
    fill:var(--white-text-color) ;
  }

  /* footer-subscribe */
.subscribe {flex-basis: 570px;
}

.subscribe-items {
  display: flex;
  margin-top: 20px;
}

.email-input {
  background-color: inherit;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px;
  color: var(--white-text-color);
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.06em;
  outline: transparent;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.06em;
  opacity: 20%;
  }

  .email-input:not(:placeholder-shown) {
    border-color: var(--accent-color);
  }

.subscribe-btn {
  width: 200px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-flex; 
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--hover-anime);
  border: transparent;
  gap: 10px;
}

.btn.subscribe-btn:hover,
.btn.subscribe-btn:focus {
  background-color: #188CE8;  
}

.icon-send {
 fill: var(--white-text-color);
}

/* portfolio */

.projects-main {
  padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
}

.portfolio-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-type {font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  padding-top: 4px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn-item:not(:last-child){
  margin-right: 8px;
}

.portfolio-list {
  margin-top: 34px;  
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.portfolio-items {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top:none;
  }

  .page-link {
    display: block;
    transition: box-shadow var(--hover-anime)
  }

  .page-link:hover,
  .page-link:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    animation: port-slide to-top 2000ms both;
  }

  /* animation */

  .portfolio-item:hover .overlay,
  .portfolio-item:focus .overlay {
    transform: translateY(0);
    transition-duration: 500ms;
  }

    .thumb {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
  } 

  .portfolio-descr {   
    padding: 63px 24px;
    color: var(--white-text-color);
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    }

  /* modal window */

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 200ms linear, visibility 200ms linear;

  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 100%;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    height: 581px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
    background-color: var(--white-text-color);
    padding: 40px;
    }

   .close-btn {
    display: flex;
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: var(--hover-anime);
    }

    .close-btn:hover,
    .close-btn:focus {
      color: var(--accent-color);
     }

    .close-btn:hover .close-btn-icon {
      fill: currentColor;
    }



      
  .modal-user-data {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    display: block;
    position: relative;
  }
  
  .user-icon {
    position: absolute;
    top: 14px;
    left: 15px;
    fill: var(--title-text-color);
  }
    
  .modal-call {
  display: block;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.user-data {
  display: block;
  color: var(--primary-text-color);
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.22;
  margin-bottom: 4px;
}

input:hover,
input:focus{
  border-color: var(--accent-color);
  transition: var(--hover-anime);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.form-field:focus-within > .user-icon,
.form-field:hover > .user-icon {
  fill: var(--accent-color);
  transition: var(--hover-anime);
}

.form-input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;
  outline: transparent;
  }

.form-input-textarea{
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-input,
.form-input-textarea {
  width: 100%;
  color: var(--title-text-color);
  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}


.form-input-textarea:placeholder-shown {
font-size: 12px;
color: var(--primary-text-color);
opacity: 0.5;
line-height: 1.17;
letter-spacing: 0.01em;
resize: none;
transition:  var(--hover-anime);
}

.form-input-textarea:hover,
.form-input-textarea:focus {
  border-color: var(--accent-color);
  transition:  var(--hover-anime);
}

.agreement-label{
  display: flex;
  align-items: center;
}

.form-checkbox {
  appearance: none;  
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: var(--hover-anime);
}

  
.form-checkbox:checked + .form-checkbox-icon .unchecked {
  opacity: 0;
 }

.form-checkbox:checked + .form-checkbox-icon .checked {
  opacity: 1;
  transition: var(--hover-anime)
}

.form-checkbox-icon {
  cursor: pointer;
}

.form-checkbox-icon .unchecked{
opacity: 1;
transition: var(--hover-anime);
}

.form-checkbox-icon .checked{
opacity: 0;
transition: var(--hover-anime);
}

.agreement-text{
  margin-left: 9px;
  cursor: pointer;
  }
.condition-link {
  user-select: none;
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) ;
}

